mixin movie-card(movie, config)
    .card(class!=attributes.class, style="width: 18rem; height: 40rem;")
        img#poster.poster.card-img-top.border-radius-b-0(src= config.images.base_url + config.images.backdrop_sizes[0] + movie.poster_path)
        .card-body.overflow-scroll(style="max-height: 15rem;")
            h5#title.title.card-title= movie.title
            p#overview.overview.card-text= movie.overview
            p  
                span#rating.rating.badge.bg-primary= "Rating " + movie.rating
