#panel-initial.container
    .row
        .col
            button#dislike.btn(name="dislike", onclick="dislike()") Dislike
            button#select.btn(name="select", onclick="select()") Select
            button#like.btn(name="like", onclick="like()") Like
