#panel-initial.container
    .row
        .col
            button#dislike.btn(name="dislike", onclick="") Dislike
            button#select.btn(name="select", onclick="") Select
            button#like.btn(name="like", onclick="") Like
