#panel-initial.container
<<<<<<< HEAD
    .row
        .col
            button#dislike.btn(name="dislike", onclick="dislike()") Dislike
            button#select.btn(name="select", onclick="select()") Select
            button#like.btn(name="like", onclick="like()") Like
=======
    button#dislike.btn(name="dislike", onclick="dislike()") Dislike
    button#select.btn(name="select", onclick="select()") Select
    button#like.btn(name="like", onclick="like()") Like
>>>>>>> 77c04721b392c646a30bdee5574e795be5bbf94c
