extends layouts

block content
    p sessione attuale: #{session_id}
    include partials/discovery/exit
    .container
        .row
            .col
                include partials/discovery/movie-card
        .row
            .col
                include partials/discovery/panel-initial
block scripts
    script.
        localstorage.setItem("movie_id", "#{movie.id}");
        localStorage.setItem("prefix_poster_path", "#{config.images.base_url}" + "#{config.images.backdrop_sizes[0]}");
    script(src="/js/discovery-initial.js")

