extends layouts

block content
    p sessione attuale: #{session_id}
    include partials/watchnow/exit
    include partials/watchnow/cumulator
    .container
        .row
            .col
                include partials/watchnow/movie-card
        .row
            .col
                include partials/watchnow/panel-initial