extends layouts

block content
    h1 Watch Now
    p Welcome to the Watch Now page!
    include partials/watchnow/exit
    include partials/watchnow/cumulator
    include partials/watchnow/movie-card
    include partials/watchnow/panel-initial