extends layouts
include partials/watchnow/movie-card
block content
    .container.main-content.d-flex.flex-column.justify-content-between(style="height: 90vh")
        .container
            .row.d-flex.justify-content-center.my-4
                .col-3.col-sm-1.d-flex.justify-content-center.align-items-center
                    include partials/watchnow/exit
                .col-9.col-sm-11.text-center
                    h2 WatchNow  
                        span.badge.bg-success   Mode
                    h4.mt-4
                        span.badge.bg-light.text-dark   Phase 2 - tournament
        .container
            .row
                .col.d-flex.justify-content-center
                    +movie-card(movie, config)(class="left-movie-card")
                .col.d-flex.justify-content-center
                    +movie-card(movie, config)(class="right-movie-card")
        include partials/watchnow/panel-tournament
block scripts
    script(src="/js/watchnow-tournament.js")
    script.
        let prefix_poster_path = "#{config.images.base_url}" + "#{config.images.backdrop_sizes[0]}";

