extends layouts

block content
<<<<<<< HEAD
    p sessione attuale: #{session_id}
    include partials/watchnow/exit
    include partials/watchnow/cumulator
    .container
        .row
            .col
                include partials/watchnow/movie-card
        .row
            .col
                include partials/watchnow/panel-initial
=======
    h1 Watch Now
    p Welcome to the Watch Now page!
    include partials/watchnow/exit
    include partials/watchnow/cumulator
    include partials/watchnow/movie-card
    include partials/watchnow/panel-initial
>>>>>>> 77c04721b392c646a30bdee5574e795be5bbf94c
