img.posterImage {
    transition: transform 0.2s ease-in-out;
}

img.posterImage:hover {
    transform: scale(1.1);
    position: relative;
    cursor: pointer;
}

#myFormSearch > .col, .row {
    margin-top: 10px;
}

#show-people , #show-genres{
    transition: color 0.3s ease-in-out;
}

#show-people:hover , #show-genres:hover{
    color: #f5c518;
    cursor: pointer;
}

#choseGenresPeople {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

#myFormSearch {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid black;
    background-color: #2b3447;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    min-width: 370px;
    max-width: 500px;
    transition: transform 0.3s ease-in-out;
}

#formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}