.center-vertical {
  top: 48%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.border-radius-0 {
  border-radius: 0px;
}

.border-radius-b-0 {
  border-radius: 8px 8px 0px 0px;
}

.border-radius-t-0 {
  border-radius: 0px 0px 8px 8px;
}

.card-container,
.card {
  max-width: 20rem;
}

.card {
  width: 100%;
  height: 40rem;
}

.wn-initial-card-container {
  position: relative;
  height: 40rem;
}

.card .poster {
  max-height: 24rem;
}

@media screen and (max-width: 480px) {
  .card {
    min-width: 60%;
    height: 32rem;
  }

  .wn-initial-card-container {
    position: relative;
    height: auto;
  }
}

.first-movie-card {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.second-movie-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.img-container {
  position: relative;
}
.img-container .overlay {
  position: absolute;
  bottom: 5%;
  right: 6%;
}

.btn-circle {
  padding: 10px 15px;
  border-radius: 50%;
  border: 6px solid #d3d3d3;
  font-size: 1.5rem;
}

.btn-circle:active,
.btn-circle:focus,
.btn-circle:hover {
  border: 6px solid #d3d3d3;
}
