.center-vertical {
  top: 48%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.border-radius-0 {
  border-radius: 0px;
}

.border-radius-b-0 {
  border-radius: 8px 8px 0px 0px;
}

.border-radius-t-0 {
  border-radius: 0px 0px 8px 8px;
}

.first-movie-card {
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.second-movie-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.img-container {
  position: relative;
}
.img-container .overlay {
  position: absolute;
  bottom: 5%;
  right: 6%;
}
